:root {
  --branding-color: #f9f7fe;
  --secondary-color: #6c63ff;
  --primary-font-color: #272142;
}

body {
  font-family: "Poppins", serif;
  color: var(--primary-font-color);
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  list-style: none;
  line-height: 30px;
  display: inline;
  margin-left: 15px;
}

nav li a {
  color: var(--primary-font-color);
  text-decoration: none;
  opacity: 0.7;
}

nav li.active a,
nav a:hover {
  color: var(--secondary-color);
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 96px;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
}

h2 {
  font-size: 24px;
  font-weight: 400;
}

h3 {
  font-family: "Playfair Display", serif;
  font-size: 64px;
  font-weight: 700;
  color: #000000;
}

h4 {
  font-size: 38px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}

p {
  font-size: 16px;
  font-weight: 400;
}

.hero {
  text-align: center;
  background-color: var(--branding-color);
  padding: 80px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: 700;
}

.btn-branding {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 18px 30px;
  border-radius: 4px;
}

.btn-branding:hover {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.btn-link-branding {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  padding: 18px 30px;
  font-size: 18px;
  line-height: 27px;
}

.btn-link-branding:hover {
  color: #fff;
  background-color: var(--secondary-color);
}

.project-description {
  padding: 80px 60px;
}

.content-hero {
  padding: 60px 20px;
  line-height: 1.2;
}

.content-hero h1 {
  font-size: 64px;
}

.content-hero h2 {
  font-size: 18px;
  font-weight: 700;
}

.about-img {
  display: block;
  margin: 20px auto;
}

footer .contact-box {
  background: var(--branding-color);
  padding: 40px 160px;
  margin: 30px 0;
  border-radius: 10px;
}

footer p {
  font-size: 18px;
}

footer .email-link {
  text-align: center;
  font-size: 24px;
  text-decoration: none;
}

footer .email-link:hover {
  color: var(--secondary-color);
}

footer a {
  color: var(--primary-font-color);
  text-decoration: none;
  opacity: 0.8;
}
footer p a:hover {
  color: var(--secondary-color);
}
footer .social-links a {
  color: var(--secondary-color);
  background: var(--branding-color);
  margin: 0 20px;
  padding: 15px 22px;
  font-size: 26px;
  border-radius: 25%;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: #fff;
  background: var(--secondary-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 48px;
  }
  h3 {
    font-size: 44px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .content-hero {
    padding: 40px 20px;
    text-align: center;
  }
  .about-img {
    max-height: 75%;
  }
}
