h1 {
font-family: "Playfair Display", serif;
font-size: 96px;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;

h2 {
  font-family: "Poppins", serif;
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
}